.btn {
    padding: $btn-padding;
    font-family: $primary-font-family;
    font-size: 1rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 1s ease;

    &:hover {
        opacity: 0.7;
    }

    &--primary {
        border: 0;
        font-weight: bold;
        
        @include breakpoint(desktop) {
            font-size: 1.6rem;
        }
    }

    &--secondary {

    }

    &--block {
        display: block;
        width: 100%;
    }
}