.drawer {
    // background: $primary-background;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    padding: .5rem;
    border-radius: 30px;

    &__toggle {
        // color: $primary-font;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        & img {
            display: block;
            width: 100%;
            height: 100%;
            // border: 1.5px solid $secondary;
            border-radius: 100%;
            padding: 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        margin-bottom: 2px;
        
        transition: max-height .1s cubic-bezier(.53,-0.29,.61,1.84);

        & li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1rem 0;
            margin: 2px 0;
            border-radius: 100%;
            // border: 1.5px solid $secondary;

            & img {
                display: block;
                width: auto;
            }
        }
    }
}