.nav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    
    width: 100%;
    z-index: 150;
    
    padding: 3rem 10rem;

    @include breakpoint(phone) {
        display: none;
    }

    @include breakpoint(tablet-landscape) {
        padding: 1.5rem 2.5rem;
    }

    @include breakpoint(desktop) {
        padding: 1.5rem 10rem;
    }

    &__logo {
        flex-grow: 1;

        & a {
            text-decoration: none;
            font-weight: bold;
        }

        &-text {
            font-family: 'Megrim', sans-serif;
            font-size: 4rem;
            text-transform: uppercase;

            @include breakpoint(phone) {
                font-size: 3rem;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;

        list-style: none;

        &--sidebar {
            flex-flow: column;
        }
    }

    &__item {
        font-weight: bold;
        margin: 0 3rem;

        & a {
            text-decoration: none;
        }

        &--sidebar {
            margin: 1rem 0;
        }
    }
    
    /* Navigation Mobile Mode */
    &--mobile {
        display: none;
        padding: 2rem 4rem;
        @include breakpoint(phone) {
            display: flex;
        }
    }

    &__sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        background: rgba(0, 0, 0, 0.8);

        overflow: hidden;
        z-index: 10;
        transition: width .2s;
    }

    &__hamburger {
        display: flex; 
        flex-flow: column;
        align-items: flex-end;
        z-index: 100;
        cursor: pointer;

        & > span {
            display: inline-block;
            height: 3px;
            margin: 3px 0;
            width: 30px;
            transition: width .5s ease;
        }

        & > span:nth-child(1) {
            width: 15px;
            animation: navHamburgerSpanLoadHalf 1s ease;
        }

        & > span:nth-child(2) {
            animation: navHamburgerSpanLoadFull 1s ease;
        }

        & > span:nth-child(3) {
            width: 15px;
            animation: navHamburgerSpanLoadHalf 1s ease;  
        }

        &--close {
            transition: all .5s ease;
            & > span:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
                width: 30px;
            }

            & > span:nth-child(2) {
                visibility: hidden;
            }

            & > span:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
                width: 30px;
            }
        }
    }
}