.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    z-index: 999;
    transition: width 200ms ease;

    @include breakpoint(desktop) {
        height: 100vh;
        top: 0;
        width: 8rem;
        flex-direction: column;
            
        cursor: pointer;

        &:hover {
            width: 26rem;
        }

        &:hover + main {
            margin-left: 26rem;
            background: rgba($color: #000000, $alpha: 0.2);
            filter: blur(40px);
        }

        &:hover .nav__link-text {
            display: inline;
        }

        &:hover .nav__logo-text {
            display: inline;
            left: 0px;
        }
    }

    &__logo {
        flex-grow: 1;

        & a {
            text-decoration: none;
            font-weight: bold;
        }

        &-text {
            font-family: 'SF UI Display Bold', sans-serif;
            font-size: 2.2rem;
            text-transform: uppercase;
            min-width: 18rem;

            @include breakpoint(phone) {
                font-size: 3rem;
            }
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;

        @include breakpoint(desktop) {
            flex-direction: column;
        }
    }

    &__item {
        width: 100%;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(desktop) {
            height: initial;
            justify-content: flex-start;
        }

        & a {
            text-decoration: none;
            font-size: 1.6rem;
        }

        &:first-child {
            filter: grayscale(0%) opacity(1);
            background: rgba($color: #000000, $alpha: 0.5);
            color: #ffffff;

            @include breakpoint(desktop) {
                display: inline-block;
            }
        }

        /* TODO: Use when implementing theme selector */
        // &:last-child {
        //     @include breakpoint(desktop) {
        //         margin: auto;
        //     }
        // }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 200ms;

        @include breakpoint(desktop) {
            height: 5rem;
            justify-content: flex-start;
        }
        
        &:hover {
            filter: grayscale(0%) opacity(1);
            background: rgba($color: #000000, $alpha: 0.5);
            color: #ffffff;
        }

        & span {
            display: none;
        }

        & i {
            font-size: 2rem;
            
            @include breakpoint(desktop) {
                margin: 0 3rem; 
                width: 5%;
            }
        }
    }
}