.nav {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 8rem;
    height: 100vh;

    z-index: 999;
    transition: width 200ms ease;
    
    cursor: pointer;
    
    &:hover {
        width: 24rem;
    }

    &:hover + main {
        margin-left: 24rem;
        background: rgba($color: #000000, $alpha: 0.2);
        filter: blur(40px);
    }

    &:hover .nav__link-text {
        display: inline;
    }

    &:hover .nav__logo-text {
        display: inline;
        left: 0px;
    }

    @include breakpoint(phone) {
        bottom: 0;
        width: 100vw;
        height: 8rem;
    }

    @include breakpoint(desktop) {
        top: 0;
    }

    &__logo {
        flex-grow: 1;

        & a {
            text-decoration: none;
            font-weight: bold;
        }

        &-text {
            font-family: 'Megrim', sans-serif;
            font-size: 2.2rem;
            text-transform: uppercase;

            @include breakpoint(phone) {
                font-size: 3rem;
            }
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__item {
        width: 100%;
        font-weight: bold;

        & a {
            text-decoration: none;
        }

        &:first-child {
            filter: grayscale(0%) opacity(1);
            background: rgba($color: #000000, $alpha: 0.5);
            color: #ffffff;
        }

        &:last-child {
            margin: auto;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: #ffffff;
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 200ms;
        
        &:hover {
            filter: grayscale(0%) opacity(1);
            background: rgba($color: #000000, $alpha: 0.5);
            color: #ffffff;
        }

        & span {
            display: none;
        }

        & i {
            margin: 0 3rem;
            font-size: 2rem;
        }
    }
}