/* Featured Projects */
.featured {
    &__project {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        & img {
            order: 1;
            width: 80%;
        }

        @include breakpoint(desktop) { 
            margin: 4rem 0;

            display: grid;
            grid-template-columns: 1fr 1fr;

            & img {
                order: initial;
                width: 100%;
            }
        }
    }

    &__content {
        margin: 0 3rem;
        width: 100%;

        @include breakpoint(desktop) {
            padding: 1rem 3rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;

        &-icons {
            & a > i {
                font-size: 1.5rem;
                margin: 1rem;
                cursor: pointer;
            }

            @include breakpoint(desktop) {
                margin-left: 2rem;
                flex: 1;
                
                & a > i {
                    font-size: 3rem;
                    margin-left: 2rem;
                    cursor: pointer;
                }
            }
        }
    }

    &__desc {
        @include breakpoint(desktop) {
            padding: 2rem;
            margin-top: 2rem;
            background: $dark-background-color;
            color: #ffffff;
            box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.3);
            border-radius: 3px;
            width: 80%;
        }
    }
}

.projects {
    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Non Featured Project */
.project {
    background: $dark-background-color;
    color: white;
    margin: 2rem 0;
    border-radius: 3px;
    padding: 2rem;
    width: 100%;

    @include breakpoint(desktop) {
        margin: 2rem 5rem 2rem 0;
        box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.3);
        transition: transform .2s ease-out;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.5);
            cursor: pointer;
        }
    }

    &__header {
        margin: 0 0 4rem 0;
        display: flex;

        @include breakpoint(desktop) {
            display: flex;
            flex-wrap: wrap;
        }

        & a {
            color: $light-secondary-color;
            margin: 0 1rem;
        }

        & i {

            font-size: 2rem;

            @include breakpoint(desktop) {
                font-size: 2rem;
                cursor: pointer;
            }

            &:not(:first-child) {
                margin: 0 0 0 2rem;
            }
        }

        & div {
            flex: 1;

            @include breakpoint(desktop) {
                flex: 1;
            }
        }
    }

    &__content {
        margin: 4rem 0;

        & h1 {
            margin: 1rem 0;
        }

        & p {
            margin-top: 2rem;
            opacity: 0.7;
        }
    }

    &__footer {
        margin: 8rem 0 0 0;
        opacity: 0.7;
    }
}