.section {
    height: 100vh;
    padding: 0 0 1.5rem 0;

    &:first-child {
        margin-top: 11rem;
    }

    @include breakpoint(phone) {
        height: 100%;
    }

    &__header {
        & h1::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 2px;
            margin: 0 0 0 1rem;
            transition: width 1s ease;
        }

        &--break::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 2px;
            transition: width 1s ease;
        }
    }

    &__landing {
        @include breakpoint(desktop) {
            display: flex;
        }
    }
}