.section {
    height: 100vh;
    padding: 0 0 1.5rem 0;

    &:first-child {
        margin-top: 11rem;
    }

    @include breakpoint(phone) {
        height: 100%;
    }

    &__header {
        & h1::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 2px;
            margin: 0 0 0 1rem;

            // background: $primary-font;

            transition: width 1s ease;
        }

        &--break::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 2px;
            // background: $primary-font;

            transition: width 1s ease;
        }
    }

    &--primary-blue {
        // background: $primary-background;
        color: #ffffff;
    }

    &--white {
        background: #ffffff;
        // color: $primary-background;
    }
}