.section {
    height: 100%;
    padding: 0 0 1.5rem 0;

    @include breakpoint(desktop) {
        &:first-child {
            height: 100vh;
        }
    }

    &__header {
        & h1::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 2px;
            margin: 0 0 0 1rem;
            transition: width 1s ease;
        }

        &-text {
            font-size: 2.5rem;
            font-family: 'SF UI Display Heavy';

            @include breakpoint(desktop) {
                font-size: 6rem;
            }
        }

        &--break::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            height: 2px;
            transition: width 1s ease;
        }
    }

    &__landing {
        @include breakpoint(desktop) {
            display: flex;
        }
    }

    &__featured {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__other-projects {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        grid-gap: 2rem;

        @include breakpoint(phone) {
            grid-template-columns: 1fr; 
        }
    }

    &__archive {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        grid-gap: 2rem;
        justify-items: center;
        
        @include breakpoint(phone) {
            grid-template-columns: 1fr; 
        }
    }

    &__contact {
        margin-bottom: 4rem;
    }

    &--grey {
        background: #F9F9F9;
    }
}