.tag {
    &__container {
        display: flex;
        flex-wrap: wrap;  

        margin: 3rem 0;

        &--right {
            justify-content: flex-end;
        }

        &--left {
            justify-content: flex-start;
        }
    }
}