.anim {
    &--wave {
        position: absolute;
        transition: transform 1s ease;
        animation: wave 1s infinite ease;
    }

    &--hover-rotate {
        display: inline-block;

        &:hover {
            font-weight: bold;
            transform: rotate(360deg);
            transition: all .5s cubic-bezier(0.25, 0.25, 0.5, 1.9);
        }
    }

    &--float-up {
        display: inline-block;

        &:hover {
            transform: translateY(-10px);
            transition: all .5s cubic-bezier(0.25, 0.25, 0.5, 1.9);
        }
    }

    &--fadeInDown {
        transition: transform .5s ease;
        animation: fadeInDown .5s ease;
    }

    &--fadeInRight {
        transition: transform .5s ease;
        animation: fadeInRight .5s ease;
    }

    &--fadeInLeft {
        transition: transform .5s ease;
        animation: fadeInLeft .5s ease;
    }

    &--slideLeft {
        transition: transform .5s ease;
        animation: slideLeft .5s ease;
    }

    &--slideDown {
        transition: transform .5s ease;
        animation: slideDown .5s ease;
    }
}

/* Fade Effects */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide Effects */
@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% { 
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% { 
        transform: translateY(0%);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(35deg);
    } 100% {
        transform: rotate(0deg);
    }
}