.anim {
    &--wave {
        position: absolute;
        transition: transform 1s ease;
        animation: wave 1s infinite ease;
    }

    &--hover-rotate {
        display: inline-block;

        &:hover {
            color: $tertiary;
            font-weight: bold;
            transform: rotate(360deg);
            transition: all .5s cubic-bezier(0.25, 0.25, 0.5, 1.9);
        }
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(35deg);
    } 100% {
        transform: rotate(0deg);
    }
}

@keyframes navHamburgerSpanLoadHalf {
    0% {
        width: 0%;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 15px;
    }
}


@keyframes navHamburgerSpanLoadFull {
    0% {
        width: 0px;
    }
    100% {
        width: 30px;
    }
}