.anim {
    &--wave {
        position: absolute;
        transition: transform 1s ease;
        animation: wave 1s infinite ease;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(45deg);
    } 100% {
        transform: rotate(0deg);
    }
}