
@font-face {
    font-family: "SF UI Display Medium";
    src: url("../assets/fonts/sf-ui-display-medium-58646be638f96.otf");
}

@font-face {
    font-family: "SF UI Display Bold";
    src: url("../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf");
}

@font-face {
    font-family: "SF UI Display Heavy";
    src: url("../assets/fonts/sf-ui-display-heavy-586470160b9e5.otf");
}

@font-face {
    font-family: "SF UI Text Regular";
    src: url("../assets/fonts/SFUIText-Regular.ttf");
}

@font-face {
    font-family: "SF UI Text Bold";
    src: url("../assets/fonts/SFUIText-Bold.ttf");
}