/* Display Utilities */
.flex {
    display: flex;
}

/* Spacing Styles */
.margin-t-lg {
    margin-top: 8rem;
}

.margin-t-md {
    margin-top: 3rem;
}

.margin-l-md {
    margin-left: 3rem;
}

.margin-t-sm {
    margin-top: 1rem;
}

.margin-l-sm {
    margin-left: 1rem;
}

/* Colour Styles */
.color-primary {
    background: $primary-background;
}

/* Font Size Styles */
.fsize-l {
    font-size: 2.5rem;
}

.fsize-m {
    font-size: 2rem;
}

.fsize-sm {
    font-size: 1.6rem;
}


.fweight-b {
    font-weight: bold;
}

.flex-column {
    flex-direction: column;
}

/* Color Styles */
.color {
    &--tertiary {
        color: $tertiary;
    }

    &--white {
        color: #ffffff;
    }
}