/* Display Utilities */
.flex {
    display: flex;
}

/* Spacing Styles */
.margin-t-lg {
    margin-top: 8rem;
}

.margin-t-md {
    margin-top: 3rem;
}

.margin-t-sm {
    margin-top: 1rem;
}

.margin-b-lg {
    margin-bottom: 8rem;
}

.margin-b-md {
    margin-bottom: 3rem;
}

.margin-b-sm {
    margin-bottom: 1rem;
}

.margin-l-md {
    margin-left: 3rem;
}

.margin-l-sm {
    margin-left: 1rem;
}

.margin-r-sm {
    margin-right: 1rem;
}

/* Colour Styles */
.color-primary {
    // background: $primary-background;
}

/* Font Size Styles */
.fsize-l {
    font-size: 3rem;

    @include breakpoint(desktop) {
        font-size: 6rem;
    }
}

.fsize-m {
    font-size: 2rem;
}

.fsize-sm {
    font-size: 1.6rem;
}


.fweight-b {
    font-weight: bold;
}

.flex-column {
    flex-direction: column;
}

.color {
    &--white {
        color: #ffffff !important;
    }
}