.about {
    &__block {
        display: flex;
        align-items: center;

        text-align: center;
        margin: 4rem 0;

        &-content {
            width: 50%;
        }

        & img {
            width: 50%;
            margin-bottom: 1rem;
        }

        &--profile {
            position: relative;

            & > img {
                position: relative;
                z-index: 11;
            }

            &::after {
                position: absolute;
                top: 5px;
                left: 28%;
                content: '';
                // border: 2px solid $secondary;
                height: 95%;
                width: 50%;
            }
        }
    }
}