.about {
    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;

        text-align: center;
        margin: 4rem 0;

        @include breakpoint(desktop) {
            flex-direction: row;
        }

        &-content {
            width: 100%;

            @include breakpoint(desktop) {
                width: 50%;
            }

            & p {
                margin-top: 4rem;

                @include breakpoint(desktop) {
                    margin-top: 8rem;
                }
            }
        }

        & img {
            width: 50%;
            margin-bottom: 1rem;
            order: 2;

            @include breakpoint(desktop) {
                order: initial;
            }
        }

        &--profile {
            position: relative;

            & > img {
                position: relative;
                z-index: 11;
            }

            &::after {
                position: absolute;
                top: 5px;
                left: 28%;
                content: '';
                // border: 2px solid $secondary;
                height: 95%;
                width: 50%;
            }
        }
    }
}