.landing {
    &__header {
        & h2 {
            font-size: 2rem;
        }

        & h1 {
            font-size: 2.5rem;
        }
    }

    &__body {
        margin: 4rem 0 0 0;

        @include breakpoint(phone) {
            & h2 {
                color: $secondary;
            }

            & p {
                font-size: 1.2rem;
                
                &:not(:first-child) {
                    margin: 0 0 0 1rem;
                }
            }

            & img {
                width: 70%;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 3rem 0 0 0;
    }

    &__cta {
        
    }
}