.landing {
    
    &__body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 4rem 0 0 0;

        @include breakpoint(phone) {
            & p {
                font-size: 1.2rem;
                
                &:not(:first-child) {
                    margin: 0 0 0 1rem;
                }
            }

            & img {
                width: 70%;
            }
        }

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;

            & p {
                font-size: 1.8rem;
            }
        }
    }

    &__content {
        width: 100%;

        & h2 {
            font-size: 2rem;
            font-family: 'SF UI Display Heavy', sans-serif;
            animation-duration: .5s;

            @include breakpoint(desktop) {
                font-size: 4rem;

                & > span {
                    font-size: 3rem;
                }
            }
        }

        &-text {
            margin: 4rem 0;

            @include breakpoint(desktop) {
                margin: 6rem 0;
            }
        }

        & h1 {
            font-size: 2.5rem;
            animation-duration: 1s;

            & span {
                font-family: 'SF UI Display Heavy', sans-serif;
                cursor: pointer;
            }
        }

        @include breakpoint(desktop) {
            width: 50%; 
            padding: 0 3rem 0 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }

    &__text {
        @include breakpoint(desktop) {
            width: 100%;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        width: 100%;
        
        @include breakpoint(desktop) {
            width: 50%; 
        }
    }

    &__cta {
        width: 100%;

        display: flex;

        & a {
            margin-top: 1.5rem;

            @include breakpoint(desktop) {
                width: 35%;
                margin-top: 6rem;
            }
        }
    }
}