/*****
Abstract
******/
@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";
@import "../abstract/utils.scss";
@import "../abstract/animations.scss";

/*****
Components
******/
@import "../components/btn.scss";
@import "../components/nav.scss";
@import "../components/section.scss";
@import "../components/scrollbar.scss";

/*****
Fonts
******/
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');

/*****
Page Specific Styles
******/
@import "../pages/landing.scss";

/*****
Vendor / Third Party Custom Styles
******/
@import "../vendor/typed.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 1.6rem;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: $primary-font;
    background: $primary-background;
}