* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: $primary-font-family;
    background: $light-background-color;
    overflow-x: hidden;
}

h1 {
    font-size: $primary-font-size-lrg;
}

a {
    text-decoration: none;
    color: $dark-background-color;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

main {
    margin-left: 8rem;
    transition: 200ms ease;
}

@include breakpoint(tablet-landscape) {
    main {
        margin-left: 0;
    }
}

@include breakpoint(phone) {
    p {
        font-size: 1.2rem;
    }

    main {
        margin-left: 0;
    }
}

/* IPad Pro Specific */
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
    main {
        margin-left: 8rem;
    }
}